.count {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}

.count > * {
  padding: 0.5rem;
}

.count span {
  background-color: whitesmoke;
  color: blueviolet;
  border-radius: 10px;
}
